Source: emulationstation
Section: games
Priority: optional
Maintainer: Dongjin Kim <tobetter@gmail.com>
Uploaders: Dongjin Kim <tobetter@gmail.com>
Standards-Version: 3.9.8
Build-Depends:
	build-essential,
	cmake,
	libasound2-dev,
	libboost-date-time-dev,
	libboost-filesystem-dev,
	libboost-locale-dev,
	libboost-system-dev,
	libcurl4-openssl-dev,
	libeigen3-dev,
	libfreeimage-dev,
	libfreetype6-dev,
	libgl1-mesa-dev,
	libsdl2-dev,
Homepage: http://www.emulationstation.org

Package: emulationstation
Architecture: any
Depends:
	fonts-droid-fallback,
	fonts-dejavu,
	fonts-dejavu-extra,
	${misc:Depends},
	${shlibs:Depends}
Suggests: emulationstation-theme-simple
Description: Graphical emulator front-end
 EmulationStation is a flexible, graphical front-end designed for keyboardless
 navigation of your retro game collection, across multiple systems.
