Source: emuelec-theme-crystal
Section: games
Priority: optional
Maintainer: Dongjin Kim <tobetter@gmail.com>
Uploaders: Dongjin Kim <tobetter@gmail.com>
Standards-Version: 3.9.8
Build-Depends:
Vcs-Git: https://github.com/dm2912/Crystal.git

Package: emuelec-theme-crystal
Architecture: any
Description: Theme for EmuELEC
 This theme is intended for EMUELEC and only contains
 graphics for systems supported by EmuElec
